<table>
    <tr>
        <td>{{live-view-item name='infra'}}</td>
        <td>{{live-view-item name='infra2'}}</td>
    </tr>
</table>
<table>
    <tr>
        <td>{{live-view-item name='motion'}}</td>
        <td>{{live-view-item name='infra3'}}</td>
    </tr>
</table>
<table>
    <tr>
        <td>{{live-view-item name='green3'}}</td>
        <td>&nbsp;</td>
    </tr>
</table>

<!--
<table>
    <tr>
    <td><a href="camera-white.html"><img id="camera-white" class="camera50" src="" height=480 width=640 /></a></td>
        <td><a href="garage.html"><img id="camera3" class="camera50" src="" height=480 width=640 /></a></td>
        <td><a href="camera-pi3.html"><img id="camera-pi3" class="camera33" src="" height=480 width=640 /></a></td>
        <td><a href="camera0.html"><img id="camera0" class="camera50" src="" height=480 width=640 /></a></td>
        <td><a href="camera1.html"><img id="camera1" class="camera50" src="" height=480 width=640 /></a></td>
        <td><a href="motion.html"><img id="camera2" class="camera50" src="" height=480 width=640 /></a></td>
        <td><a href="garage.html"><img id="camera3" class="camera50" src="" height=480 width=640 /></a></td>
    </tr>
</table>
-->

{{yield}}
